
@model QualifyMe.ViewModels.JobView

@{
    ViewBag.Title = "View Job";
    Layout = "~/Areas/Company/Views/Shared/CompanyLayoutPage1.cshtml";

}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

    <div class="w3-col m20">
        <div class="w3-container w3-card w3-white w3-round w3-margin">
            <br>
            <h3><strong>@Model.JobTitle</strong></h3>
            <span class="w3-right w3-opacity"></span>
            <p>by: @Model.Company.CompanyName</p>
            <hr class="w3-clear">

            <div class="w3-third w3-left">
                <h1>Description</h1>
                <p>@Model.JobDescription</p>
            </div>
            <div class="w3-third w3-left">
                <h1>Qualifications</h1>
                <p>@Model.JobQualification</p>
            </div>
            <div class="card">
                <div class="container">
                    <h6 class="title-attr" style="margin-top:15px;"><small>Type</small></h6>
                    <div>
                        <div class="attr" style="width:50px; background-color: sandybrown">@Model.JobTypes</div>
                    </div>
                    <h6 class="title-attr"><small>Status</small></h6>
                    <div>
                        <div class="attr2" style="width:50px; background-color: tomato">@Model.JobStatus</div>
                    </div>
                </div>
                <span class="w3-tag w3-small w3-theme-12">@Model.Course.CourseName</span>
            </div>
        </div>
        <div class="w3-container w3-card w3-white w3-round w3-margin">


        </div>
    </div>

</div>





<script>
    $(".editbutton").click(function () {
        $(this).parent().find(".needs-validation").show();
        $(this).hide();
        $(this).parent().find(".answer").hide();
    });
</script>

