@model QualifyMe.ViewModels.EditStudent


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Profile</title>

</head>
<body>
    <div class="container emp-profile">
        <form novalidate="novalidate" id="changeprofile" enctype="multipart/form-data" method="post" class="needs-validation" onsubmit="return AjaxPost(this)">
            <div class="row">
                <div class="col-md-4">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="ImageUpload" name="ImageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="ImageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url('/Images/@Model.ImagePath');">
                            </div>
                        </div>

                    </div>
                    <input type="text" id="StudentFirstName" name="StudentFirstName" style="font-weight: bold;" value="@Model.StudentFirstName">
                    <input type="text" id="StudentLastName" name="StudentLastName" style="font-weight: bold;" value="@Model.StudentLastName">
                    <input type="text" id="CourseID" name="CourseID" style="font-weight: lighter;" value="@Session["CurrentStudentCourse"]">
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="container">
                            <strong>INFORMATION</strong>
                            <br />
                            <strong>Student No :</strong>
                            <input type="text" id="StudentID" name="StudentID" style="font-weight: lighter;" value="@Model.StudentID">
                            <strong>Email :</strong>
                            <input type="text" id="Email" name="Email" style="font-weight: lighter;" value="@Model.Email">
                            <strong>Gender :</strong>
                            <input type="text" id="Gender" name="Gender" style="font-weight: lighter;" value="@Model.Gender">
                            <strong>Address :</strong>
                            <input type="text" id="Address" name="Address" style="font-weight: lighter;" value="@Model.Address">
                            <br />
                            @Html.ValidationSummary()
                            <div class="form-group col-sm-2  float-right">
                                <button type="submit" class="btn btn-primary" style="background-color:forestgreen">Save</button>
                            </div>
                            <div class="form-group col-sm-2  float-right">
                                <button type="cancel" class="btn btn-primary" style="background-color:forestgreen">Cancel</button>
                            </div>



                        </div>

                    </div>
                </div>


            </div>

        </form>
    </div>
</body>
</html>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#ImageUpload").change(function () {
        readURL(this);
    });

    function AjaxPost(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/Account/ChangeProfile",
            data: new FormData(formData),
            success: function (result) {
                alert(result);
                window.location.href = "/account/changeprofile"
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
</script>