@model QualifyMe.ViewModels.StudentView
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/content/viewprofile.css">
<div class="container">
    <div class="profile-header">
        <div class="profile-img">
            <img src="~/Images/user.png" width="200" alt="Profile Image">..
        </div>
        <div class="profile-nav-info">
            <h3 class="user-name">@Session["CurrentUserFirstName"] @Session["CurrentUserLastName"]</h3>
            <div class="address">
                <p id="state" class="state">@Session["CurrentStudentCourse"]</p>
                @*<span id="country" class="country">USA.</span>*@
            </div>.

        </div>
        @*<div class="profile-option">
                <div class="notification">
                    <i class="fa fa-bell"></i>
                    <span class="alert-message">3</span>
                </div>
            </div>*@
    </div>

    <div class="main-bd">
        <div class="left-side">
            <div class="profile-side">
                <p class="mobile-no"><i class="fa fa-phone"></i> @Session["CurrentUserMobile"]</p>
                <p class="user-mail"><i class="fa fa-envelope"></i> @Session["CurrentUserEmail"]</p>
               
                <div class="profile-btn">
                    <h5><span style="color: white; position: center;"><a href="/account/changeprofile" class="btn btn-primary" style="background-color:forestgreen">Edit Profile</a></span></h5>
                </div>


            </div>

        </div>
        <div class="right-side">
            <div class="col-md-12">
                <div class="container">
                    <strong>INFORMATION</strong>
                    <br />
                    <p>Student No :<strong>@Session["CurrentStudentID"]</strong></p>
                    <p>Gender :<strong>@Session["CurrentUserGender"]</strong></p>
                    <p>Address :<strong>@Session["CurrentUserAddress"]</strong></p>

                 
                  
                </div>

            </div>
    </div>
</div>
</div>>
