@model List<QualifyMe.ViewModels.JobView>
@{
    ViewBag.Title = "CompanyHomepage";
    Layout = "~/Areas/Company/Views/Shared/CompanyLayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="card">
        @foreach (var item in Model)
        {
            <div class="block">
                <img src="~/images/avatar.png" alt="" height="50px" width="50px">
                <div>
                    <p>@item.Company.CompanyName</p>
                    <a href="/company/jobs/view/@item.JobID">@item.JobTitle</a>
                    <p>@item.JobDateAndTime</p>
                    <p>@item.JobDescription</p>
                </div>
                <p>@item.Department.DepartmentName</p>
            </div>
        }
    </div>



</body>
</html>



