@model List<QualifyMe.ViewModels.JobView>
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="card" >
        @foreach (var item in Model)
        {
            <div class="block">
                <img src="~/images/avatar.png" alt="" height="50px" width="50px">
                <div>
                    <p>@item.Company.CompanyName</p>
                    <a href="/jobs/view/@item.JobID">@item.JobTitle</a>
                    <p>@item.JobDateAndTime</p>
                    <p>@item.JobDescription</p>
                </div>
                <p>@item.Department.DepartmentName</p>
            </div>
        }
        </div>

    <!--<div class="row">
        <div class="leftcolumn">
           
            <div class="card">
                <div class="profile">
                    <img src="~/images/avatar.png" alt="" height="50px" width="50px">
                    <a></a>
                </div>
                <a href="/jobs/view/"> </a>
                <p></p>-->
                @*<div class="fakeimg" style="height:200px;">Image</div>*@

                <!--<p></p>
            </div>
            }
            </div>
    </div>

    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2022 <a href="#" target="_blank">QuailfyMe</a>. All Rights Reserved.</p>
        </div>
    </footer>-->

</body>
</html>



