@model  IEnumerable<QualifyMe.ViewModels.Model>
@{
    ViewBag.Title = "RecommendedJobs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w3-container w3-content" style="max-width:1300px;margin-top:80px;margin-left:100px">
    <div class="w3-col col-md-12">
        <p>-AVAILABLE JOBS FOR YOU BASED ON YOUR COURSE-</p>
        @foreach (var item in Model)
        {
    <div class="w3-container w3-card w3-white w3-round w3-margin">
        <br>
        <img src="~/Images/avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">@item.job.JobDateAndTime</span>
        <h4>@item.company.CompanyName</h4><br>
        <hr class="w3-clear">
        <h3>
            <a href="/jobs/view/@item.job.JobID">@item.job.JobTitle</a>
        </h3>
        <p>@item.job.JobDescription</p>
        <i>Department: </i><span style="background-color: #00b921">@item.student.Course.Department.DepartmentName</span>
        @*@foreach (var ite in item.job.Tags)
        {
            <span style="background-color: tomato">@ite.TagName</span>
        }*@
        <i>Type: </i><span class="w3-tag w3-small w3-theme-l2">@item.job.JobTypes</span>
        <i>Tag: </i>
        <span class="w3-tag w3-small w3-theme-l2">@item.tag.TagName</span>
        <br />
        <i>Under Course: </i>
       
            <span style="background-color: tomato">@item.student.Course.CourseName</span>
       
        </div>
        }
        <!-- End Middle Column -->
    </div>
</div>