@model QualifyMe.ViewModels.JobView

<tr>
    <td><span class="badge badge-secondary">@Model.JobID</span> Job ID</td>
    <td><span class="badge badge-secondary">@Model.ApplicantsCount</span> Number of applicants</td>
    
    <td class="text-dark">
        <a href="/jobs/view/@Model.JobID" class="text-primary">@Model.JobTitle</a>
        <br />
        <span class="badge badge-info">@Model.Course.CourseName</span>
    </td>
    <td>
        @if (Convert.ToInt32(Session["CurrentUserID"]) != Model.CompanyID)
        {
            @:by @Model.Company.CompanyName
        }
        else
        {
            @:by you
        }
    </td>
    <td>
        on @Model.JobDateAndTime
    </td>
</tr>