@model QualifyMe.ViewModels.JobView

@{
    ViewBag.Title = "View Job";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 item-photo">
        </div>
        <div class="col-xs-5" style="border:0px solid gray">
            <h3>@Model.JobTitle</h3>
            <form method="get" action="/jobs/applyjob">


                <!-- Details -->
                <div class="section">
                    <h6 class="title-attr" style="margin-top:15px;"><small>Type</small></h6>
                    <div>
                        <div class="attr" style="width:50px; background-color: tomato">@Model.JobTypes</div>

                    </div>
                </div>
                <div class="section" style="padding-bottom:5px;">
                    <h6 class="title-attr"><small>Status</small></h6>
                    <div>
                        <div class="attr2">@Model.JobStatus</div>

                    </div>
                </div>
                <div class="section" style="padding-bottom:20px;">
                    <a href="/jobs/applyjob/@Model.JobID" class="btn btn-primary">Apply Job</a>
                </div>




            </form>
        </div>

        <div class="col-xs-9">
            <div style="width:100%;border-top:1px solid silver">
                <p style="padding:15px;">
                    <h5>Description</h5>
                    <small>
                        @Model.JobDescription
                    </small>
                </p>
                <small>
                    <h5>Qualification</h5>
                    @Model.JobQualification
                </small>
            </div>
        </div>
    </div>
</div>

@if (Session["CurrentUsername"] != null)
{
    <div class="container">
        <h5>Application Form</h5>
        <form novalidate="novalidate" action="/jobs/applyjob" method="post" class="needs-validation">
            @Html.AntiForgeryToken()
            <input type="text" name="JobID" value="@Model.JobID" />
            <label for="StudentName">Fullname:</label>
            <h5>@Session["CurrentUserName"]</h5>
            <label for="ApplicantGender">Gender:</label>
            <select id="ApplicantGender" name="ApplicantGender">
                <option value="">Please select</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="drpCourses">Courses</label>
                    <select class="form-control" id="drpCourses" name="CourseID" required="required">
                        <option value="">Please Select</option>
                        @foreach (var item in ViewBag.Courses)
                        {
                            <option value="@item.CourseID">@item.CourseName</option>
                        }
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Category can't be empty
                    </div>
                </div>
            </div>
            <label for="ApplicantBirthday">Birthday:</label>
            <input type="date" id="ApplicantBirthday" name="ApplicantBirthday">
            <br />
            <label for="ApplicantAddress">Address</label>
            <input type="text" id="ApplicantAddress" name="ApplicantAddress" placeholder="Address">

            <label for="ApplicantQuestion">Question</label>
            <textarea id="subject" name="ApplicantQuestion" placeholder="Tell me something about yourself." style="height:200px"></textarea>

            <input type="submit" value="Submit">
            @Html.ValidationSummary()
        </form>
    </div>
}


    <script>
        $(".editbutton").click(function () {
            $(this).parent().find(".needs-validation").show();
            $(this).hide();
            $(this).parent().find(".answer").hide();
        });
    </script>
